@import url(https://fonts.googleapis.com/css?family=Nunito);body {
  background-color: #240046;
}

#navbar {
  background-color: #240046;
}
#navbar .row {
  height: 4rem;
}
#navbar .nav_square {
  margin: 0 2rem;
  height: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#navbar .nav_square .nav_link {
  text-decoration: none;
  color: #9D4EDD;
  font-family: "Bungee";
}
#navbar .left_bar .nav_square {
  border-left: 2px solid #9D4EDD;
  border-radius: 0 0 0 2.5rem;
}
#navbar .left_bar .nav_square:hover {
  box-shadow: -19px -3px 20px 2px #9d4edd;
  transition: 0.3s ease-in-out;
}
#navbar .central_bar {
  position: relative;
}
#navbar .right_bar .nav_square {
  border-right: 2px solid #9D4EDD;
  border-radius: 0 0 2.5rem 0;
}
#navbar .right_bar .nav_square:hover {
  box-shadow: 19px -3px 20px 2px #9d4edd;
  transition: 0.3s ease-in-out;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.box .glithc {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-size: 100px;
  color: #fff;
  position: relative;
  padding: 30px;
}
.box .glithc:before, .box .glithc:after {
  content: "LOGO";
  position: absolute;
  top: 0;
  overflow: hidden;
  color: #fff;
  padding: 30px;
}
.box .glithc:before {
  left: 3px;
  text-shadow: -2px 0 red;
  animation: glitch-before 2s linear 0s infinite alternate-reverse;
}
.box .glithc:after {
  left: -3px;
  text-shadow: -2px 0 green;
  -webkit-animation: glitch-after 2s linear 0s infinite alternate;
          animation: glitch-after 2s linear 0s infinite alternate;
}

@-webkit-keyframes glitch-before {
  0% {
    clip: rect(16px, 350px, 44px, 30px);
  }
  5% {
    clip: rect(26px, 350px, 126px, 30px);
  }
  10% {
    clip: rect(97px, 350px, 140px, 30px);
  }
  15% {
    clip: rect(93px, 350px, 7px, 30px);
  }
  20% {
    clip: rect(121px, 350px, 102px, 30px);
  }
  25% {
    clip: rect(98px, 350px, 148px, 30px);
  }
  30% {
    clip: rect(13px, 350px, 145px, 30px);
  }
  35% {
    clip: rect(91px, 350px, 21px, 30px);
  }
  40% {
    clip: rect(22px, 350px, 114px, 30px);
  }
  45% {
    clip: rect(12px, 350px, 100px, 30px);
  }
  50% {
    clip: rect(149px, 350px, 82px, 30px);
  }
  55% {
    clip: rect(107px, 350px, 64px, 30px);
  }
  60% {
    clip: rect(37px, 350px, 80px, 30px);
  }
  65% {
    clip: rect(141px, 350px, 41px, 30px);
  }
  70% {
    clip: rect(96px, 350px, 90px, 30px);
  }
  75% {
    clip: rect(5px, 350px, 26px, 30px);
  }
  80% {
    clip: rect(146px, 350px, 143px, 30px);
  }
  85% {
    clip: rect(10px, 350px, 22px, 30px);
  }
  90% {
    clip: rect(32px, 350px, 142px, 30px);
  }
  95% {
    clip: rect(21px, 350px, 49px, 30px);
  }
  100% {
    clip: rect(104px, 350px, 72px, 30px);
  }
}

@keyframes glitch-before {
  0% {
    clip: rect(16px, 350px, 44px, 30px);
  }
  5% {
    clip: rect(26px, 350px, 126px, 30px);
  }
  10% {
    clip: rect(97px, 350px, 140px, 30px);
  }
  15% {
    clip: rect(93px, 350px, 7px, 30px);
  }
  20% {
    clip: rect(121px, 350px, 102px, 30px);
  }
  25% {
    clip: rect(98px, 350px, 148px, 30px);
  }
  30% {
    clip: rect(13px, 350px, 145px, 30px);
  }
  35% {
    clip: rect(91px, 350px, 21px, 30px);
  }
  40% {
    clip: rect(22px, 350px, 114px, 30px);
  }
  45% {
    clip: rect(12px, 350px, 100px, 30px);
  }
  50% {
    clip: rect(149px, 350px, 82px, 30px);
  }
  55% {
    clip: rect(107px, 350px, 64px, 30px);
  }
  60% {
    clip: rect(37px, 350px, 80px, 30px);
  }
  65% {
    clip: rect(141px, 350px, 41px, 30px);
  }
  70% {
    clip: rect(96px, 350px, 90px, 30px);
  }
  75% {
    clip: rect(5px, 350px, 26px, 30px);
  }
  80% {
    clip: rect(146px, 350px, 143px, 30px);
  }
  85% {
    clip: rect(10px, 350px, 22px, 30px);
  }
  90% {
    clip: rect(32px, 350px, 142px, 30px);
  }
  95% {
    clip: rect(21px, 350px, 49px, 30px);
  }
  100% {
    clip: rect(104px, 350px, 72px, 30px);
  }
}
@-webkit-keyframes glitch-after {
  0% {
    clip: rect(2px, 350px, 138px, 30px);
  }
  5% {
    clip: rect(88px, 350px, 41px, 30px);
  }
  10% {
    clip: rect(78px, 350px, 81px, 30px);
  }
  15% {
    clip: rect(33px, 350px, 111px, 30px);
  }
  20% {
    clip: rect(95px, 350px, 108px, 30px);
  }
  25% {
    clip: rect(10px, 350px, 36px, 30px);
  }
  30% {
    clip: rect(23px, 350px, 52px, 30px);
  }
  35% {
    clip: rect(97px, 350px, 14px, 30px);
  }
  40% {
    clip: rect(90px, 350px, 82px, 30px);
  }
  45% {
    clip: rect(142px, 350px, 125px, 30px);
  }
  50% {
    clip: rect(137px, 350px, 115px, 30px);
  }
  55% {
    clip: rect(59px, 350px, 125px, 30px);
  }
  60% {
    clip: rect(54px, 350px, 112px, 30px);
  }
  65% {
    clip: rect(96px, 350px, 16px, 30px);
  }
  70% {
    clip: rect(139px, 350px, 41px, 30px);
  }
  75% {
    clip: rect(94px, 350px, 2px, 30px);
  }
  80% {
    clip: rect(32px, 350px, 105px, 30px);
  }
  85% {
    clip: rect(26px, 350px, 143px, 30px);
  }
  90% {
    clip: rect(73px, 350px, 126px, 30px);
  }
  95% {
    clip: rect(16px, 350px, 122px, 30px);
  }
  100% {
    clip: rect(66px, 350px, 80px, 30px);
  }
}
@keyframes glitch-after {
  0% {
    clip: rect(2px, 350px, 138px, 30px);
  }
  5% {
    clip: rect(88px, 350px, 41px, 30px);
  }
  10% {
    clip: rect(78px, 350px, 81px, 30px);
  }
  15% {
    clip: rect(33px, 350px, 111px, 30px);
  }
  20% {
    clip: rect(95px, 350px, 108px, 30px);
  }
  25% {
    clip: rect(10px, 350px, 36px, 30px);
  }
  30% {
    clip: rect(23px, 350px, 52px, 30px);
  }
  35% {
    clip: rect(97px, 350px, 14px, 30px);
  }
  40% {
    clip: rect(90px, 350px, 82px, 30px);
  }
  45% {
    clip: rect(142px, 350px, 125px, 30px);
  }
  50% {
    clip: rect(137px, 350px, 115px, 30px);
  }
  55% {
    clip: rect(59px, 350px, 125px, 30px);
  }
  60% {
    clip: rect(54px, 350px, 112px, 30px);
  }
  65% {
    clip: rect(96px, 350px, 16px, 30px);
  }
  70% {
    clip: rect(139px, 350px, 41px, 30px);
  }
  75% {
    clip: rect(94px, 350px, 2px, 30px);
  }
  80% {
    clip: rect(32px, 350px, 105px, 30px);
  }
  85% {
    clip: rect(26px, 350px, 143px, 30px);
  }
  90% {
    clip: rect(73px, 350px, 126px, 30px);
  }
  95% {
    clip: rect(16px, 350px, 122px, 30px);
  }
  100% {
    clip: rect(66px, 350px, 80px, 30px);
  }
}